<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./master.css">
    <title>Tittle</title>
</head>
<body>
   
     <h2 class="h"> {{>header}} </h2>
    
    <div class="hv">
    <h2> {{title}} </h2>
    
    <h2 >{{desc}} </h2>
    </div>
    
    <h3 class="one"> U best user today    </h3>
    <button class="bu">services here </button>
    <button class="bu">setting here </button>
    <button class="bu">next  </button>
    


</body>
</html>